<div class="course-tiles">
    <div class="course-tile" *ngFor="let course of courses" [class.premium]="course.premium">
        <h3 class="course-title">{{ course.name }}</h3>
        <p class="course-description">{{ course.description }}</p>
        <div class="course-info">
            <p class="course-field">Difficulty: {{ course.difficulty }}</p>
        </div>
        <div class="buttons">
            <button class="btn" [routerLink]="'/course/'+course.id">
                View
            </button>
            <button class="btn" [routerLink]="'/course/'+course.id+'/edit'">
                Edit
            </button>
        </div>
    </div>                            
</div>
<div class="navigation">
    <button class="nav-btn" (click)="prevPage()">Previous</button>
    <button class="nav-btn" (click)="nextPage()">Next</button>
</div>


