<div class="container">
    <h1>Learn alphabets</h1>
    <div class="game-container">
        <p>Learn alphabets by playing a simple two-choice game!</p>
        <div class="options-container">
            <div class="option correct-option">
                <span class="option-text">A</span>
            </div>
            <div class="option wrong-option">
                <span class="option-text">B</span>
            </div>
        </div>
    </div>
    <img src="https://via.placeholder.com/800x400.png?text=Image" alt="Image">
    <button class="btn" routerLink="/language/all">
        Languages
    </button>
</div>
