<form id="name" [formGroup]="form">
    <label for="exercise-letter">Letter:</label>
    <input type="text" id="exercise-letter" formControlName="letter">
    <span class="error-message">This field is required.</span>

    <label for="exercise-wrong">Wrong Answer:</label>
    <input type="text" id="exercise-wrong" formControlName="wrongAnswer">
    <span class="error-message">This field is required.</span>

    <label for="exercise-correct">Correct Answer:</label>
    <input type="text" id="exercise-correct" formControlName="correctAnswer">
    <span class="error-message">This field is required.</span>

    <label for="course-id">Course:</label>
    <input type="text" id="course-id" formControlName="courseId">
    <span class="error-message">This field is required.</span>
    <app-all-courses (courseId)="onCourseChoice($event)"></app-all-courses>

    <label for="course-id">Soundfile:</label>
    <input type="text" id="sound" formControlName="sound">
    <span class="error-message">This field is required.</span>
    <app-all-sounds (choice)="onSoundChoice($event)"></app-all-sounds>

    <button class="btn" [disabled]="form.invalid" (click)="onSubmit()">
        {{ this.exercise ? 'Save' : 'Add' }}
    </button>
</form>

<a class="upload-btn btn" routerLink="/sound/upload">Upload sound</a>