<div class="game-container">
    <div class="options-container">
      <div class="option left-option" (click)="onGuess(0)" 
      [class.wrong-option]="colors.left.wrong" 
      [class.correct-option]="colors.left.correct">
        <p class="option-text">{{ exercises[current].options[0] }}</p>
      </div>
      <div class="option right-option" (click)="onGuess(1)" 
      [class.wrong-option]="colors.right.wrong" 
      [class.correct-option]="colors.right.correct">
        <p class="option-text">{{ exercises[current].options[1] }}</p>
      </div>
    </div>
    <button class="repeat-btn">Repeat</button>
</div>

<button class="repeat-btn" (click)="correctTest()">Correct!</button>
<button class="repeat-btn" (click)="wrongTest()">Incorrect!</button>

<div class="answer-icon" *ngIf="showResult" @iconAnim (@iconAnim.done)="animationDone()">
  <div class="icon">{{ timeFlag? '⌛' : correctFlag ? '✅' : '❌' }}</div>
  <div class="text"> {{ timeFlag ? 'Time up!' : correctFlag ? 'Correct!' : 'Wrong!' }}</div>
</div>